/*BARRA DE NAVEGACION*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 19, 19);
    font-family: 'Tapestry', sans-serif;

}

/*barra*/

.nav {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.contenedor {
    display: flex;
}

/*parte izq*/

.texto {
    color: white;
    font-size: 1em;
    padding: 15px 5px 10px 15px;
    width: max-content;
}

.redes {
    width: 20px;
    height: 20px;
    padding: 15px 5px;
}

/*parte central*/

.logo {
    height: 50px;
}

/*parte derecha*/

.texto1 {
    color: white;
    font-size: 1em;
    padding: 15px 15px;
    width: max-content;
}

.enlace {
    text-decoration: none;
}

/*complementos de enlace*/

.redes:hover {
    background-color: rgba(255, 255, 255, 0.404);
}

.texto1:hover {
    background-color: rgba(255, 255, 255, 0.404);
}

/*MENU CUADRO*/

/*IMAGENES*/

.contenedor {
    display: flex;
    justify-content: center;
}

/*IMAGEN1*/

.posicion {
    padding: 60px 5px 0px;
}

.imagen {
    background-image: url(../img/historia.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: 45% 50%;
}

/*IMAGEN2*/

.posicion1 {
    padding: 90px 10px 0px;
}

.imagen1 {
    background-image: url(../img/filosofiayreligion.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: 47% 50%;
}

/*IMAGEN3*/

.posicion2 {
    padding: 125px 5px 0px;
}

.imagen2 {
    background-image: url(../img/arteymusica.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/*IMAGEN4*/

.posicion3 {
    padding: 90px 10px 0px;
}

.imagen3 {
    background-image: url(../img/lenguayliteratura.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: 35% 50%;
}

/*IMAGEN5*/

.posicion4 {
    padding: 60px 5px 0px;
}

.imagen4 {
    background-image: url(../img/seresvivos.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: 57% 50%;

}

/*IMAGEN6*/

.posicion5 {
    padding: 125px 10px 0px;
}

.imagen5 {
    background-image: url(../img/deporteyocio.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/*IMAGEN7*/

.posicion6 {
    padding: 90px 5px 0px;
}

.imagen6 {
    background-image: url(../img/cienciassociales.png);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/*IMAGEN8*/

.posicion7 {
    padding: 60px 10px 0px;
}

.imagen7 {
    background-image: url(../img/geografia.jpg);
    width: 100px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/*complementos de imagenes*/

.enlace {
    text-decoration: none;
}

.sombra {
    width: 100px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.418);
}

.letra {

    color: white;
    padding: 170px 20px;
    text-align: center;

}

/*animacion*/

.sombra:hover {
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

.animacion:hover {
    transform: scale(1.1);
    z-index: 1;
}