/*BARRA DE NAVEGACION*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(19, 19, 19);
    font-family: 'Tapestry', sans-serif;
    
}

.nav{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;  
}

.contenedor{
    display: flex;   
}

.texto{
    color: white;
    font-size: 1em;
    padding: 15px 5px 10px 15px;
    width: max-content;
}

.redes{
    width: 20px;
    height: 20px ;
    padding: 15px 5px;
}

.logo{
    height: 50px ;
}

.texto1{
    color: white;
    font-size: 1em;
    padding: 15px 15px ;
    width: max-content;
}

.enlace{
    text-decoration: none;
}

.redes:hover{
    background-color:rgba(255, 255, 255, 0.404);
}

.texto1:hover{
    background-color: rgba(255, 255, 255, 0.404);
}

/*MENU CUADRO*/

/*IMAGENES*/

.cuadro{
    display: flex; 
    justify-content: center;
}

.img{
    width: 100px;
    height: 400px;
    margin: 60px 5px 5px;
    object-fit: cover;
}

.img1{
    width: 100px;
    height: 400px;
    margin: 80px 5px 5px;
    object-fit: cover;
}

.img2{
    width: 100px;
    height: 400px;
    margin: 100px 5px 5px;
    object-fit: cover;
}

.img3{
    width: 100px;
    height: 420px;
    margin: 60px 5px 5px;
    object-fit: cover;
}


.img4{
    width: 100px;
    height: 440px;
    margin: 20px 5px 5px;
    object-fit: cover;
}


.img5{
    width: 100px;
    height: 400px;
    margin: 100px 5px 5px;
    object-fit: cover;
}

.img6{
    width: 100px;
    height: 400px;
    margin: 80px 5px 5px;
    object-fit: cover;
}


.img7{
    width: 100px;
    height: 400px;
    margin: 60px 5px 5px;
    object-fit: cover;
}

/*TEXTO*/

















